.header {
    background-color: #363740;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header>p {
    margin: 0;
    font-size: 3rem;
}
